@import '_functions';

//Váriavel de font-base
$basefontsize: 16 !default;

$color-white: #ffffff;
$color-black: #000000;

$color-dark: #323a45;
$color-dark-lighter: #839090;
$color-dark-darker: #2C2F3D;
$color-light: #cacaca;

$color-primary: #78909c;
$color-primary-light: #a7c0cd;
$color-primary-dark: #4b636e;
$color-primary-text-light: $color-white;
$color-primary-text-dark: $color-black;

$color-secondary: #5c6bc0;
$color-secondary-light: #8e99f3;
$color-secondary-dark: #26418f;
$color-secondary-text-light: $color-white;
$color-secondary-text-dark: $color-black;

$color-bg-shadow: rgba(0, 0, 0, .7);
//$color-shadow: rgba(64,154,133, 0);
